table {
    border-collapse: collapse;
    border: 1px solid black;
}
table td,th {
    border: 1px solid black;
    padding: 5px;
}
td.safe { background-color: palegreen; }
td.pending { background-color: palegreen; }
td.bypass { background-color: palevioletred; }

td > pre {
    width: 600px; overflow: auto;
}

div#overflow {
    overflow: scroll;
    height: 600px;
}
#debug {
    width: 480px;
    height: 240px;
}